page-muestra {


}
.nombre{
    color: indianred;
    font-size: 20px;
    margin-left: 10px;
}

.telefono{
    color: mediumblue;
   font-size: 20px;
   margin-left: 10px;
}

.mail{
    color: #C89933;
    font-size: 20px;
    margin-left: 10px;
}

.face{

    color: #2E4052;
    font-size: 20px;
    margin-left: 10px;
}

.twt{
    color: #08A4BD;
    font-size: 20px;
    margin-left: 10px;
}

.insta{
    color: #D1345B;
    font-size: 20px;
    margin-left: 10px;
}

span{
    margin-left: 10px;
    font-size: 20px;
}
